@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --body-color : rgba(250, 250, 250);
    --color-white : rgba(250, 250, 250);
    --text-color-second : rgba(38, 37, 37);
    --first-color : rgb(64, 61, 222);
    --background-image : linear-gradient(#0000ff, #008000);
    --hoverbtn-color : linear-gradient(green, blue);
    --blue-color : blue;
    --green-color : green;
    --first-shadow : rgba(0, 0, 0, 0.1);

    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #000;
    --logo-color: #000;

    --text-color: #444444;
    --color-white: #242526;

    --icon-color: #242526;
    --mode-color: #ccc;
    --hover-icon-color: #008000;
}

body {
    background-color: var(--body-color);
}

/* dark mode colors  */

body.dark {
    --body-color: #000000;
    --box-color: #fff;

    --nav-color: #2f3632;
    --color-white: #fff;
    --text-color: #fff;

    --nav-icon: #fff;
    --logo-color: #fff;
    --icon-color: #8749f2;
    --mode-color: #fff;
}

.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* nav bar section  */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vh;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    letter-spacing: -5px;
    display: flex;
    align-items: center;
}

.s {
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    color: var(--blue-color);
    font-size: 35px;
    font-weight: 500;
}
.s:hover {
    color: var(--green-color);
}

.slash {
    font-size: 40px;
}

.m {
    font-family: "Playwrite PT", cursive;
    font-optical-sizing: auto;
    color: var(--green-color);
    font-size: 30px;
    font-weight: 600;
}

.m:hover {
    color: var(--blue-color);
}


.nav-menu,.nav-menu-list {
    display: flex;
    column-gap: -20px;
    list-style: none;
}

.nav-menu .nav-list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.btn-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 20px;
    cursor: pointer;
    color: var(--first-color);

}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.3s;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: var(--first-color);
}

/* mode  */

.mode {
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background: var(--mode-color);
}

.moon-sun :is(#moon,#sun) {
    position: absolute;
    transition: 0.2s ease-in-out;
}

#sun {
    opacity: 0;
}

body.dark #sun {
    opacity: 1;
}

body.dark #moon {
    opacity: 0;
}

/* wrapper  */
  .wrapper {
    padding-inline: 10vw;
  }

/* featured box  */

.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* featured text  */

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    margin-top: 10%;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    color: var(--first-color);
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: var(--first-color);
    font-size: 70px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn {
    border: none;
    color: #f4f4f4;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.hire {
    border: 1px solid black;
}

.btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 12px;
    background: var(--background-image);
    font-weight: 500;
    transition: all 0.8s ease;
}

.btn:hover {
    background: var(--hoverbtn-color);
}

.icon i {
    margin-right: 10px;
}

i {
    font-size: 16px;
}

/* social icons  */

.social-icons {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
}

.social-icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--icon-color);
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px var(--first-color);
    cursor: pointer;
}

.icon-circle {
    position: absolute;
    transform: transform(-50%, 50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: iconSlide 4s infinite alternate;
}

@keyframes iconSlide {
    25% {
        border: 2px solid #e6d12e;
        left: 0px;
    }
    50% {
        border: 2px solid red;
        left: 70px;
    }
    75% {
        border: 2px solid purple;
        left: 145px;
    }
    100% {
        border: 2px solid green;
        left: 216px;
    }
}

.social-icons:hover .icon-circle {
    animation-play-state: paused;
    cursor: pointer;
}

.icon:hover {
    color: #ffffff;
    background: var(--hover-icon-color);
}

/* featured section  */

.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.image  {
    margin-top: 5%;
    width: 500px;
    height: 700px;
    border-radius: 40% 40% 40% 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}

.image img {
    margin-top: 50px;
    width: 500px;
    height: 700px;
    object-fit: contain;
}


/* main section  */
section {
    padding-block: 5em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* about section  */
.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;
}

.about-me {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about-info figcaption {
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile {
    border-radius: 40%;
    position: absolute;
    bottom: 90%;
    left: 60px;
    z-index: 1;
    background-color: #fff;
    max-width: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.about-me h2 {
    color: var(--text-color);
}

.about-me p {
    margin-top: 10px;
    color: var(--text-color);
}

.about-info .about-me-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.7s ease;
} 

.about-me-btn {
    background: var(--background-image);
}

.about-me-btn:hover {
    background: var(--hoverbtn-color);
}

/* skill section  */

.skill {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 2px 10px 15px 4px var(--first-shadow);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 30px;
}

.skill .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.3);
}

.skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--first-color);
    animation: progress 0.6s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html {
    animation-delay: 0.3s;
    width: 90%;
}
.skill-per.css {
    animation-delay: 0.3s;
    width: 80%;
}
.skill-per.javascript {
    animation-delay: 0.3s;
    width: 60%;
}
.skill-per.uiux{
    animation-delay: 0.3s;
    width: 70%;
}
.skill-per.sql{
    animation-delay: 0.3s;
    width: 50%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 10px;
    color: #fff;
    padding: 2px 6px;
    border-radius: 20px;
    background: var(--first-color);
    z-index: 1;
}

/* project section */
.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 10px 15px 4px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.project-box > i {
    font-size: 50px;
    color: var(--first-color);
    margin-bottom: 25px;
}

.project-box label {
    font-size: 15px;
    color: var(--text-color);
}

.project-box::after,
.contact-info::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--background-image);
    width: 100%;
    height: 100%;
    transition: 0.8s;
    z-index: 0.1;
}

.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
    bottom: 0;
}

.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover.project-box >label {
    color: #fff;
    z-index: 2;
}

.top-header span {
    color: var(--text-color);


}

/* contact section  */

.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 420px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 10px 15px 4px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.contact-info > h2 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.contact-info > p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    margin-block: 5px;
}

.contact-info::after {
    color: var(--first-color);
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
    color: #fff;
    z-index: 2;
}

/* contact form */

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    padding-inline: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;

}

textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    padding: 15px 20px;
    color: var(--text-color);
    border-radius: 10px;
    outline: none;
    resize: none;
}

.form-button > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    border: none;background: var(--background-image);
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
}

.form-button > .btn:hover {
    background: var(--hoverbtn-color);
}

.form-button i {
    font-size: 10px;
    rotate: -45deg;
    margin-left: 10px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-list {
   text-decoration: none;
   color: var(--text-color);
   font-weight: 500;
   margin-inline: 20px; 
}

.footer-menu-list a:hover {
    color: var(--first-color);
}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: var(--color-white);
}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-white);
}

.footer-icon:hover {
    color: var(--green-color);
    background-color: transparent;
}

/* media queries = 1024px */
@media only screen and (max-width: 1024px) {
    .nav-menu-btn {
        display: none;
    }
    .featured-text {
        padding: 0;
    }
    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}

@media screen and (min-width: 750px) {
    .nav-menu-btn {
        display: none;
    }
}

/* media query - 900px */

@media only screen and (max-width: 900px) {
    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-menu-responsive {
        left: 0;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
    }
    .nav-menu-list {
        flex-direction: column;
    }
    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social-icons {
        margin-top: 2em;
    }
    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image,
    .image img {
        width: 150px;
        height: 150px;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info,
    .contact-info {
        width: 100%;
    }
    .project-container {
        justify-content: center;
    }
    .project-box {
        width: 80%;
    }
    .mode {
        display: flex;
        align-items: center;
        margin-left: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .nav-name{
        font-size: 10px;
    }
    .featured-name {
        font-size: 40px;
    }
    .project-box {
        width: 100%;
    }
    .form-inputs {
        flex-direction: column;
    }
    .input-field {
        width: 100%;
    }
    .mode {
        margin-left: 50%;
    }
    .typedText {
        font-size: 50px;
    }
}

/* nav bar section  */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vh;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    letter-spacing: -5px;
    display: flex; /* Add this */
    align-items: center; /* Center logo items vertically */
}

.s {
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    color: var(--blue-color);
    font-size: 35px;
    font-weight: 500;
}
.s:hover {
    color: var(--green-color);
}

.slash {
    font-size: 40px;
}

.m {
    font-family: "Playwrite PT", cursive;
    font-optical-sizing: auto;
    color: var(--green-color);
    font-size: 30px;
    font-weight: 600;
}

.m:hover {
    color: var(--blue-color);
}

.nav-menu,.nav-menu-list {
    display: flex;
    column-gap: -20px;
    list-style: none;
}

.nav-menu .nav-list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 20px;
    cursor: pointer;
    color: var(--first-color);
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.3s;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: var(--first-color);
}

/* mode  */

.mode {
    display: flex;
    align-items: center;
    margin-right: -2%;
}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background: var(--mode-color);
}

.moon-sun :is(#moon,#sun) {
    position: absolute;
    transition: 0.2s ease-in-out;
}

#sun {
    opacity: 0;
}

body.dark #sun {
    opacity: 1;
}

body.dark #moon {
    opacity: 0;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
    .nav-menu-btn {
        display: flex;
    }
}

@media only screen and (max-width: 900px) {
    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(250, 250, 250, 0.7);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: 0.3s;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu-list {
        flex-direction: column;
    }
}
